node_modules
dist
build
.cache
public
docsearch.min.js
packages/gatsby-theme-blocks-docs/src/components/header.js
packages/gatsby-theme-blocks-docs/src/components/layout.js
packages/gatsby-theme-blocks-docs/src/components/search.js

# tmp
examples/vue
packages/vue
