name: Lint

on: [push, pull_request]

jobs:
  build-and-lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Set up Node.js 12.x
        uses: actions/setup-node@master
        with:
          node-version:  12.x

      - name: Install
        run: yarn

      - name: Lint
        run: yarn lint
